@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Gulzar', sans-serif;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
    border-radius: 10px 10px 0 0;
}

@keyframes progressBarAnimation {
    0% {
        background-color: blue;
    }

    50% {
        background-color: lightblue;
    }

    100% {
        background-color: blue;
    }
}

@keyframes blinkRed {

    0%,
    100% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }
}

.blink-red {
    animation: blinkRed 1s infinite;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 0.5spx solid rgba(255, 255, 255, 0.18);
}