/* Register.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', serif;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: blue;
    transition: width 0.3s ease-in-out;
    border-radius: 10px 10px 0 0;
}

@keyframes progressBarAnimation {
    0% {
        background-color: blue;
    }

    50% {
        background-color: lightblue;
    }

    100% {
        background-color: blue;
    }
}

@keyframes blinkRed {

    0%,
    100% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }
}

.blink-red {
    animation: blinkRed 1s infinite;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.register-container {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-message {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Hover effect for the registration form */
.registration-form {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.registration-form:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}